{% extends 'base.html' %}
{% block title %}Контакты{% endblock title %}
{% block header %}{% endblock header %}
{% block section %}
<h1 class="text-center text-white" style="text-shadow: 3px 3px 3px #000000;">Оставьте заявку</h1>
  <div class="container text-center">
    <div id="form_container">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions form-group">
          <button type="submit" class="form-control btn btn-primary">Заказать звонок</button>
        </div>
      </form>
    </div>
      </div>

{% endblock section %}