{% extends 'base.html' %}

{% block title %}Цены{% endblock title %}
{% block header %}{% endblock header %}
{% block section %}


{% for category in categories %}
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item" style="border: 2px #4169E1 solid; box-shadow: 0 0 10px #444;border-radius: 10px; padding: 3px;">
    <h2 class="accordion-header bg-primary"id="flush-headingOne">
      <button class="accordion-button collapsed bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        {{ category.name }}
      </button>
    </h2>
    {% for price in prices %}
 {% if category.name == price.category.name %}
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">{{ price.name }} <code style="float: right;"> цена: {{ price.price }} руб.</code> </div>
        <hr>
    </div>
{% endif %}
    {% endfor %}
  </div>
</div>
{% endfor %}

{% endblock section %}



