{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>{% block title %}{% endblock title %}</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'bootstrap/img/favicon(2).ico' %}"/>
    <!-- Bootstrap icons-->
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/style.css' %}">

</head>
<body>
{% block preloader %}

{% endblock preloader %}
<!-- Navigation-->


{% cache 500 nav %}
{% include 'inc/_nav.html' %}
{% endcache %}


<!-- Header-->

{% block header %}

{% endblock header %}
<!-- Section-->

<main class="mt-5">
    <div class="container">
        <!--Section: Content-->
        {% block section %}

        {% endblock section %}
    </div>
</main>
<!--Section: Content-->
<hr class="my-5"/>
{% cache 500 positive %}
{% include 'inc/_positive.html' %}
{% endcache positive %}
<hr class="my-5"/>
{% cache 500 footer %}
{% include 'inc/_footer.html' %}
{% endcache %}
<!-- Bootstrap core JS-->


<script src="{% static 'bootstrap/js/main.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core theme JS-->
<script>
  window.onload = function () {
    document.body.classList.add('loaded_hiding');
    window.setTimeout(function () {
      document.body.classList.add('loaded');
      document.body.classList.remove('loaded_hiding');
    }, 500);
  }
</script>
</body>
</html>
