<!-- Footer -->
<footer class=" text-center text-lg-start text-muted">
  <!-- Section: Social media -->
  <section
    class="text-white d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class=" me-5 d-none d-lg-block">
      <span>«Аккурат Энерго» предоставляет спектр услуг:</span>
    </div>
    <!-- Left -->

    <!-- Right -->

  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="text-white row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-white text-uppercase fw-bold mb-4">
           «Аккурат Энерго»
          </h6>
          <p>
            Современная компания с штатом электриков высокой квалификации. Самым главным в работе для каждого из нас является безопасность потребителя электроэнергии, надежность, качество и аккуратность выполняемой работы. Каждый человек хочет получить качественную работу по разумной цене.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="text-white col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Услуги
          </h6>
          <p>
           Электроснабжение под ключ
          </p>
          <p>
           Проектирование
          </p>
          <p>
           Электромонтажные работы
          </p>
          <p>
          Обслуживание электрохозяйств
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Для Вас
          </h6>
          <p>
           Выполнение и согласование проектных работ.
          </p>
          <p>
            Проведение строительно-монтажных работ.
          </p>
          <p>
           Проведение пусконаладки и электроиспытаний с выдачей протоколов.
          </p>
          <p>
           Сдача объекта в эксплуатацию.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Контакты
          </h6>
          <p> Волгоградская область, г. Волжский</p>
          <p>

            info@example.com
          </p>
          <p> +7-902-651-83-00</p>
          <p> +7-902-651-83-00</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"> «Аккурат Энерго» </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->