<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5 text-white" style="text-shadow: 3px 3px 3px #000000;">
        Почему выбирают нас?</h2>
    <!-- Section description -->
    <p class="lead grey-text text-center w-responsive mx-auto mb-5 text-white">Мы последовательны и ответственны в своей
        работе</p>

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-4">

            <!-- Grid row -->
            <div class="row mb-3">

                <!-- Grid column -->
                <div class=" col-2">
                    <img src="static/bootstrap/img/razrabotka.png">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="text-white col-10">
                    <h5 class="font-weight-bold mb-3">Разработка проекта</h5>
                    <p class="text-white">Разработка проекта электроснабжения</p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            <div class="row mb-3">

                <!-- Grid column -->
                <div class="col-2">
                    <img src="static/bootstrap/img/soglasovanie.png">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="text-white col-10">
                    <h5 class="font-weight-bold mb-3">Согласование проекта </h5>
                    <p class="grey-text">Согласование проекта и получение разрешения в контролирующей инстанции </p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            <div class="row mb-md-0 mb-3">

                <!-- Grid column -->
                <div class="col-2">
                    <img src="static/bootstrap/img/zakupka.png">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="text-white col-10">
                    <h5 class="font-weight-bold mb-3">Закупка необходимых комплектующих</h5>
                    <p class="grey-text mb-md-0">Закупка необходимых комплектующих электрический кабель, соединительные
                        муфты, вводы, кабельные каналы, розетки и многое другое</p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 text-center">
            <img class="img-fluid" src="static/bootstrap/img/molniya.png"
                 alt="Sample image">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4">

            <!-- Grid row -->
            <div class="row mb-3">

                <!-- Grid column -->
                <div class="col-2">
                    <img src="static/bootstrap/img/prokladka.png">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="text-white col-10">
                    <h5 class="font-weight-bold mb-3">Прокладка кабеля</h5>
                    <p class="grey-text">Прокладка кабеля и проведение комплекса монтажных работ (перенос и монтаж
                        счетчиков, щитов, установка розето и выключателей и т. д.)</p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            <div class="row mb-3">

                <!-- Grid column -->
                <div class="col-2">
                    <img src="static/bootstrap/img/ispitaniya.png">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="text-white col-10">
                    <h5 class="font-weight-bold mb-3">Проведение</h5>
                    <p class="grey-text">Проведение контрольных испытаний</p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-2">
                    <img src="static/bootstrap/img/sdacha.png">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="text-white col-10">
                    <h5 class="font-weight-bold mb-3">Сдача объекта</h5>
                    <p class="grey-text mb-0">Сдача объекта представителю контролирующей инстанции и получение
                        разрешения на пользование электроэнергией</p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</section>