{% extends 'base.html' %}
{% block title %} О КОМПАНИИ {% endblock title %}

{% block section %}
<h1 class="text-white" style="text-shadow: 3px 3px 3px #000000;">“Качество — это делать что-либо правильно, даже когда никто не смотрит.”</h1>

<div class="container" style="border-radius: 10px;
border: 5px #444 solid;
box-shadow: 0 0 10px #4169E1;">
<p class="text-white">«Аккурат Энерго» – современная компания с штатом электриков высокой квалификации. Самым главным в работе для каждого из нас является безопасность потребителя электроэнергии, надежность, качество и аккуратность выполняемой работы.
Каждый человек хочет получить качественную работу по разумной цене. Мы очень дорожим своей репутацией, поэтому для нас нет разницы: будь то старая дача или шикарный особняк. На выполненные работы выдаются гарантийные обязательства.
В нашей компании трудятся только опытные специалисты с профильным образованием. Штат «Аккурат Энерго» располагает необходимым количеством работников. На данный момент мы полностью обеспечиваем постоянное дежурство для аварийного выезда и в тоже время способны справиться с большим объемом работ.
</p>
</div>
{% endblock %}
